<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Virtual Healthcare</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a ui-sref="room" ng-show="docUser != null">Room Management</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right " ng-show="currentUser != null">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">Welcome, {{currentUser.name}}</a>
                <ul class="dropdown-menu">
                    <li><a ng-click="signout()" >Logout</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-show="currentUser == null">
            <li><a ui-sref="login" >Log in</a></li>
        </ul>
    </div>
</nav>
