<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-title" href="#">Virtual Healthcare</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#" ui-sref="room.manageRoom"  ui-sref-active="disabledClick" ng-show="docUser">Room</a>
            </li>
            <li>
                <a href="#"  ui-sref="appoint" ui-sref-active="disabledClick" ng-show="patUser">Appointment</a>
            </li>
            <li>
                <a href="#"  ui-sref="examList" ui-sref-active="disabledClick" ng-show="patUser">Examination</a>
            </li>
            <li>
                <a href="#"  ui-sref="viewExamination" ui-sref-active="disabledClick" ng-show="docUser">Examination</a>
            </li>
            <li>
                <a href="#"  ui-sref="viewRequest" ui-sref-active="disabledClick" ng-show="staffUser">Request</a>
            </li>
            <li>
                <a href="#"  ui-sref="viewDoctor" ui-sref-active="disabledClick">Find a Doctor</a>
            </li>
        </ul>
        <ul class="btn-group nav navbar-nav navbar-right " uib-dropdown ng-show="currentUser">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href=""><span ng-if="docUser">Dr. </span>{{currentUser.name}}
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="#" ui-sref="manage" ui-sref-active="disabledClick" >Account Management</a></li>
                    <li role="menuitem"><a href="#" ng-click="signout()" >Logout</a></li>
                </ul>

            </li>
        </ul>


        <ul class="nav navbar-nav navbar-right" ng-show="currentUser == null">
            <li><a ui-sref="login" >Log in</a></li>
        </ul>
    </div>
</nav>
