<div ng-show="noAppoint">
    <div class="alert alert-info text-center">
        <h3><b>You do not have any appointment</b></h3>
        <button class="btn btn-primary btn-lg" ui-sref="viewDoctor">Go find a doctor
        <span><i class="fa fa-user-md" aria-hidden="true"></i></span></button>
    </div>
</div>
<table ng-hide="noAppoint" style="width: 100%" st-table="displayedCollection" st-safe-src="appointments">
    <tr>
        <th><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>

</table>
<table ng-hide="noAppoint" class="table hoverTable table-striped" st-table="displayedCollection"
       st-safe-src="appointments" wt-responsive-table
       ng-init="loadAppointment()" >
    <thead>
    <tr>
        <th class="sortable" st-sort="id" style="width: 5%">ID</th>
        <th class="sortable" st-sort="room.doctor.user.name" style="width: 15%">Doctor</th>
        <th class="sortable" st-sort="room.name" style="width: 15%">Room</th>
        <th class="sortable" st-sort="room.startDate" style="width: 20%">Start Date</th>
        <th class="sortable" st-sort="condition" style="width: 20%">Condition</th>
        <th class="sortable" st-sort="slot" style="width: 10%">Slot</th>
        <th class="sortable" st-sort="status" style="width: 15%">Status</th>
        <th style="width: 10%"></th>

    </tr>
    <tr>
        <th>
            <input st-search="id"
                   class="input-sm form-control" />
        </th>
        <th>
            <input st-search="room.doctor.user.name"
                   class="input-sm form-control"/>
        </th>
        <th>
            <input st-search="room.name"
                   class="input-sm form-control"/>
        </th>
        <th >
            <input st-search="room.startDate"
                   class="input-sm form-control" />
        </th>
        <th >
            <input st-search="condition"
                   class="input-sm form-control" />
        </th>
        <th >
            <input st-search="slot"
                   class="input-sm form-control" />
        </th>
        <th >
            <input st-search="status"
                   class="input-sm form-control" />
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    <p class="text-center" ng-show="loading"><span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span></p>
    <tr ng-repeat="appoint in displayedCollection" ng-hide="loading" >
        <td class="text-center" >{{ appoint.id }}</td>
        <td data-title="Doctor">{{ appoint.room.doctor.user.name }}</td>
        <td data-title="Room">{{ appoint.room.name }}</td>
        <td class="text-center" data-title="Start Date">{{ appoint.room.startDate | date:"MM/dd/yyyy 'at' h:mma" }}</td>
        <td data-title="Condition">{{ appoint.condition }}</td>
        <td class="slotRow" data-title="Slot Number">{{ appoint.slot }}</td>
        <td ng-class="appoint.statusColor" data-title="Status"><b>{{ appoint.status }}</b></td>
        <td data-title="Action" class="text-center">
            <div class="btn-group">
                <button type="button" ng-show="appoint.status == 'Open'"
                        class="btn btn-sm btn-success" ng-click="selectAppoint(appoint)">Enter</button>
                <button type="button" ng-show="appoint.status == 'Waiting'"
                        class="btn btn-sm btn-danger" ng-click="cancelAppoint(appoint)">Cancel</button>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="text-center">
        <td colspan="7">
            <div st-items-by-page="10" st-pagination="" st-template="pagination.html"></div>
        </td>
    </tr>
    </tfoot>

</table>

