<div>
    <h3>Doctor Room Page</h3>
    <md-button class="md-primary md-raised" ng-click="showCreateRoomDialog($event)">
        Create New Room
    </md-button>

    <table style="width: 100%" st-table="displayedCollection" st-safe-src="rooms">
        <tr>
            <th><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>

    </table>
    <!-- Table-to-load-the-data Part -->
    <table class="table hoverTable table-striped" st-table="displayedCollection"
           st-safe-src="rooms" wt-responsive-table
           ng-init="loadRoom()">
        <thead>
        <tr>
            <th class="sortable" st-sort="id" style="width: 10%">ID</th>
            <th class="sortable" st-sort="name" style="width: 20%">Name</th>
            <th class="sortable" st-sort="startDate" style="width: 25%">Start Date</th>
            <th class="sortable" st-sort="roomSize" style="width: 10%">Size</th>
            <th class="sortable" st-sort="status" style="width: 20%">Status</th>
            <th style="width: 15%"></th>

        </tr>
        <tr>
            <th>
                <input st-search="id"
                       class="input-sm form-control"/>
            </th>
            <th>
                <input st-search="name"
                       class="input-sm form-control"/>
            </th>
            <th>
                <input st-search="startDate"
                       class="input-sm form-control"/>
            </th>
            <th>
                <input st-search="roomSize"
                       class="input-sm form-control"/>
            </th>
            <th>
                <input st-search="status"
                       class="input-sm form-control"/>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="room in displayedCollection" ng-hide="roomNum == 0">
            <td class="text-center" data-title="ID">{{ room.id }}</td>
            <td data-title="Name">{{ room.name }}</td>
            <td class="text-center" data-title="Start Date">{{ room.startDate | date:"MM/dd/yyyy 'at' h:mma" }}</td>
            <td class="text-center" data-title="Room Size">{{ room.roomSize }}</td>
            <td ng-class="room.statusColor" data-title="Status">{{ room.status }}</td>
            <td data-title="Action" class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-success"
                            ng-show="room.status == 'Open'"
                            ng-click="selectRoom(room)">Enter
                    </button>
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-show="room.status == 'Waiting'"
                            ng-click="selectRoom(room)">Open
                    </button>
                    <button type="button" class="btn btn-sm btn-danger"
                            ng-show="room.status == 'Waiting'"
                            ng-click="closeRoom(room)">Cancel
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="text-center">
            <td colspan="6">
                <div st-items-by-page="10" st-pagination="" st-template="pagination.html"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <h3 ng-show="roomNum == 0" class="alert alert-success text-center">
        There is no any room
    </h3>

</div>

<script type="text/ng-template" id="createRoomDialog.html">
    <md-dialog aria-label="Create New Room">
        <form class="form-group"
              ng-submit="createRoom()" name="roomForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Create New Room</h2>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        X
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="container" style="width:600px;height:450px;">
                    <table class="table no-border">
                        <tbody>
                        <tr>
                            <td>
                                <md-input-container class="md-block">
                                    <input class="form-control"
                                           ng-model="room.name" name="name"
                                           placeholder="Name of room" required
                                           ng-minlength="8" ng-maxlength="30">

                                    <div ng-messages="roomForm.name.$error">
                                        <div ng-message="required">Room name is required.</div>
                                        <div ng-message="minlength">Room name minimum characters is 8.</div>
                                        <div ng-message="maxlength">Room name minimum characters is 30.</div>
                                    </div>
                                </md-input-container>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <md-input-container>
                                    <label>Speciality</label>
                                    <md-select ng-model="room.speciality">
                                        <md-optgroup label="Speciality">
                                            <md-option ng-value="spec.speciality.id" ng-repeat="spec in specList">{{spec.speciality.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-md-6">
                                <md-input-container class="md-block">
                                    <input readonly="true" class="form-control" uib-datepicker-popup="{{format}}"
                                           ng-model="room.startDateobj" is-open="startDatePicker.opened"
                                           datepicker-options="dateOptions" name="startDate" style="width: 50%"
                                           placeholder="Start Date"
                                           formatMonth="MM"
                                           required close-text="Close" alt-input-formats="altInputFormats"
                                           formatMonth="MM" ng-click="open1()"/>
                                    <div ng-messages="roomForm.startDate.$error">
                                        <div ng-message="required">Start date is required.</div>
                                    </div>
                                </md-input-container>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-md-2"><strong>Start Time </strong></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">
                                <div uib-timepicker ng-model="startTime" ng-change="changed()" hour-step="1"
                                     show-meridian="true" show-spinners="false" required
                                     name="startTime"></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <md-input-container class="md-block">
                                    <input placeholder="Room size" ng-minlength="1"
                                           ng-maxlength="2" type="number" style="width: 50%"
                                           required name="size" ng-model="room.roomSize">
                                    <div ng-messages="roomForm.size.$error">
                                        <div ng-message="required">Room size is required.</div>
                                        <div ng-message="minlength">Room size must be larger than 1.</div>
                                        <div ng-message="maxlength">Room size must be less than 100.</div>
                                    </div>
                                </md-input-container>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised md-warn" ng-click="cancel()" style="margin-right:20px;">
                    CANCEL
                </md-button>
                <md-button class="md-raised md-primary" ng-disabled="roomForm.$invalid"
                           type="submit">Save
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
