<h3>Dr.{{doctorDetails.name}} Details</h3>

<div ng-init="loadRoombyDoctor()" class="container" >
    <div class="col-md-4 text-center">
        <div class="row">
            <img width="170px" height="200px" ng-src="{{doctorDetails.avatarSrc}}">
        </div>
        <div class="row">
            <h4><b>{{ doctorDetails.name }}</b></h4>
        </div>
        <div class="row">
            <span read-only="true" uib-rating ng-model="doctorDetails.doctor.rating" max="5"
                  aria-labelledby="default-rating" style="width: 400px; height: 200px">
            </span>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table">
            <tbody>
            <tr>
                <td class="col-md-3">
                    <md-icon md-svg-src="app/imgs/ic_date_range_24px.svg" ></md-icon>
                    Date of Birth
                </td>
                <td>{{ doctorDetails.dateofbirth }}</td>
            </tr>
            <tr>
                <td class="col-md-3">
                    <md-icon md-svg-src="app/imgs/ic_email_24px.svg"></md-icon>
                    Email
                </td>
                <td>{{ doctorDetails.email }}</td>
            </tr>
            <tr>
                <td class="col-md-3">
                    <md-icon md-svg-src="app/imgs/ic_local_phone_24px.svg"></md-icon>
                    Phone
                </td>
                <td>{{ doctorDetails.phone }}</td>
            </tr>
            <tr>
                <td class="col-md-3">
                    <span style="width: 24px;height: 24px">
                                <i  class="fa fa-graduation-cap"
                                    aria-hidden="true"></i>
                    </span>
                    Certification
                </td>
                <td>{{ doctorDetails.doctor.certification }}</td>
            </tr>
            <tr>
                <td class="col-md-3">
                    <md-icon md-svg-src="app/imgs/ic_thumb_up_black_24px.svg" ></md-icon>
                    Speciality
                </td>
                <td>{{ loadSpeciality(doctorDetails.doctor.professional) }}</td>
            </tr>
            <tr>
                <td class="col-md-3">
                    <md-icon md-svg-src="app/imgs/ic_folder_special_black_24px.svg" ></md-icon>
                    Experience
                </td>
                <td>{{ doctorDetails.doctor.experience }}</td>
            </tr>
            <tr>
                <td class="col-md-3">
                    <md-icon md-svg-src="app/imgs/ic_chat_24px.svg" ></md-icon>
                    Biography
                </td>
                <td>{{ doctorDetails.doctor.biography }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row alert alert-info text-center"><h4><b>ROOM LIST</b></h4></div>

<table style="width: 100%" st-table="displayedCollection" st-safe-src="rooms">
    <tr>
        <th><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>

</table>
<table class="table hoverTable" st-table="displayedCollection"
       st-safe-src="rooms" wt-responsive-table class="table table-striped"
       >
    <thead>
    <tr>
        <th class="sortable" st-sort="id" style="width: 10%">ID</th>
        <th class="sortable" st-sort="name" style="width: 25%">Name</th>
        <th class="sortable" st-sort="startDate" style="width: 25%">Start Date</th>
        <th class="sortable" st-sort="roomSize" style="width: 10%">Size</th>
        <th class="sortable" st-sort="available" style="width: 15%">Available</th>
        <th class="sortable" st-sort="status" style="width: 15%">Status</th>
    </tr>
    <tr>
        <th>
            <input st-search="id"
                   class="input-sm form-control"/>
        </th>
        <th>
            <input st-search="name"
                   class="input-sm form-control"/>
        </th>
        <th>
            <input st-search="startDate"
                   class="input-sm form-control"/>
        </th>
        <th>
            <input st-search="roomSize"
                   class="input-sm form-control"/>
        </th>
        <th>
            <input st-search="available"
                   class="input-sm form-control"/>
        </th>
        <th>
            <input st-search="status"
                   class="input-sm form-control"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
    <tr ng-repeat="room in displayedCollection" ng-hide="loading" ng-click="showMakeAppointmentDialog($event,room)">
        <td class="text-center" data-title="ID">{{ room.id }}</td>
        <td data-title="Name">{{ room.name }}</td>
        <td class="text-center" data-title="Start Date">{{ room.startDate | date:"MM/dd/yyyy 'at' h:mma" }}</td>
        <td class="text-center" data-title="Room Size">{{ room.roomSize }}</td>
        <td class="text-center" data-title="Available">{{ room.available }}</td>
        <td ng-class="room.statusColor" data-title="Status">{{ room.status }}</td>
    </tr>

    </tbody>
    <tfoot>
    <tr class="text-center">
        <td colspan="6">
            <div st-items-by-page="10" st-pagination="" st-template="pagination.html"></div>
        </td>
    </tr>
    </tfoot>
</table>

<script type="text/ng-template" id="makeAppointmentDialog.html">
    <md-dialog aria-label="Make an Appointment">
        <form class="form-group"
               name="roomForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Make an Appointment</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        X
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <div class="container" style="width:500px;height:150px;">
                        <div ng-hide="roomDetails.available <= 0 || roomDetails.status == 'Closed'" class="alert alert-success text-center" role="alert">
                            <h4><b>Are you sure to make an appointment?</b></h4>
                            <textarea cols="50" rows="4"
                                      placeholder="Provide your conditon early so we can help you better!"
                                      ng-model="condition">

                            </textarea>
                        </div>
                        <div ng-show="roomDetails.available <= 0" class="alert alert-danger text-center" role="alert">
                            <h4><b>This room is full.</b></h4>
                        </div>
                        <div ng-show="roomDetails.status == 'Closed'" class="alert alert-danger text-center" role="alert">
                            <h4><b>This room is closed.</b></h4>
                        </div>
                    </div>
                </div>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button class="md-raised md-danger" ng-click="cancel()" style="margin-right:20px;">
                        BACK
                    </md-button>
                    <md-button class="md-raised md-primary"
                               ng-hide="roomDetails.available <= 0 || roomDetails.status == 'Closed'"
                               ng-click="makeAppointment()">Make an Appointment
                    </md-button>
                </md-dialog-actions>
            </md-dialog-content>

        </form>
    </md-dialog>
</script>