<table style="width: 100%" st-table="displayedCollection" st-safe-src="appointments">
    <tr>
        <th><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>

</table>
<table class="table hoverTable" st-table="displayedCollection"
       st-safe-src="appointDocList" wt-responsive-table class="table table-striped"
       ng-init="loadAppointmentByDoc()" >
    <thead>
    <tr>
        <th class="sortable" st-sort="id" style="width: 10%">ID</th>
        <th class="sortable" st-sort="slot" style="width: 30%">Patient</th>
        <th class="sortable" st-sort="room.name" style="width: 30%">Room</th>
        <th class="sortable" st-sort="slot" style="width: 10%">Slot</th>
        <th class="sortable" st-sort="status" style="width: 20%">Status</th>

    </tr>
    <tr>
        <th>
            <input st-search="id"
                   class="input-sm form-control" />
        </th>
        <th>
            <input st-search="patient.user.name"
                   class="input-sm form-control"/>
        </th>
        <th>
            <input st-search="room.name"
                   class="input-sm form-control"/>
        </th>
        <th >
            <input st-search="room.startDate"
                   class="input-sm form-control" />
        </th>
        <th >
            <input st-search="slot"
                   class="input-sm form-control" />
        </th>
    </tr>
    </thead>
    <tbody>
    <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
    <tr ng-repeat="appoint in displayedCollection" ng-hide="loading" >
        <td class="text-center" data-title="ID">{{ appoint.id }}</td>
        <td class="text-center" data-title="Patient">{{ appoint.patient.user.name }}</td>
        <td data-title="Room">{{ appoint.room.name }}</td>
        <td class="slotRow" data-title="Slot Number">{{ appoint.slot }}</td>
        <td ng-class="appoint.statusColor" data-title="Status"><b>{{ appoint.status }}</b></td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="text-center">
        <td colspan="5">
            <div st-items-by-page="10" st-pagination="" st-template="pagination.html"></div>
        </td>
    </tr>
    </tfoot>

</table>

