<!HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Virtual Healthcare</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost/VirtualHealth/public/manageDoc"><i class="fa fa-user-md"></i> Doctors Management</a></li>
            <li><a href="#/"><i class="fa fa-shield"></i> About</a></li>
            <li><a href="/"><i class="fa fa-comment"></i> Contact</a></li>
        </ul>
    </div>
</nav>

</body>

</html>