<p class="text-center" ng-show="loading">
    <span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span>
    <h4 ng-show="loading" class="text-center"><b>Please wait....</b></h4>
</p>
<div class="container" ng-hide="loading">
    <div ng-init="loginValidate = false" ng-show="loginValidate" class="alert alert-danger text-center" role="alert">
        <b>You have entered wrong old password.</b>
    </div>
        <form name="loginForm" class="form-signin">
            <h3 class="form-signin-heading">Login</h3>
            <input ng-model="username" class="form-control" required placeholder="Username">
            <input ng-model="password" type="password" class="form-control" required placeholder="Password">
            <div>
                <button name="login" ng-disabled="loginForm.$invalid"
                        ng-click="login()" class="btn btn-lg btn-primary btn-block">Log in</button>
            </div>
        </form>
    <div class="container form-signin">
        <button name="signup" ui-sref="signup" class="btn btn-lg btn-warning btn-block">Sign up</button>
    </div>
</div>





