<h3>Manage Account</h3>
<h3>Manage Doctor Account</h3>
<div class="container">
    <div class="col-md-4 text-center tableUser">
        <div class="row avatarContainer">
            <span>
                <img width="165px" height="160px" ng-src="{{imgSrc}}">
                <button ng-click="showChangeAvatar()" class="btn btn-info">Change Avatar Image</button>
            </span>
        </div>
        <div class="row">
            <h3>{{ userDetails.name }}</h3>
        </div>
        <div class="row controlRow">
            <button class="btn btn-default controlButton">Information</button>
        </div>
        <div class="row controlRow">
            <button class="btn btn-default controlButton">Balance</button>
        </div>

    </div>
    <div id="informationTab" class="col-md-8 pull-left">
        <div class="row" style="padding-left: 15px">
            <button class="btn btn-warning" ng-click="showUpdate()" ng-disabled="updateToggle">Edit</button>
            <button class="btn btn-warning" ng-click="showChangePassword()" ng-disabled="changePasswordToggle">Change
                Password
            </button>
        </div>
        <form class="form-group" name="updateForm">
            <div class="panel panel-default" ng-show="updateToggle">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Update Information</b></h3>
                </div>
                <div class="panel-body">
                    <md-input-container class="md-block">
                        <md-icon md-svg-src="app/imgs/ic_person_24px.svg" class="email"></md-icon>
                        <label>Name</label>
                        <input required md-minlength="8" md-maxlength="30" name="updateName" ng-model="updateUser.updateName">
                        <div ng-messages="updateForm.updateName.$error">
                            <div ng-message="required">Name is required.</div>
                            <div ng-message="md-maxlength">Maximum characters is 30.</div>
                            <div ng-message="md-minlength">Minimum characters is 8.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-svg-src="app/imgs/ic_email_24px.svg" class="email"></md-icon>
                        <label>Email</label>
                        <input required type="email" name="email" ng-model="updateUser.email">
                        <div ng-messages="updateForm.email.$error">
                            <div ng-message="required">Email is required.</div>
                            <div ng-message="email">Email is invalid.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-svg-src="app/imgs/ic_local_phone_24px.svg" class="email"></md-icon>
                        <label>Phone number</label>
                        <input required name="phone" ng-model="updateUser.phone">
                        <div ng-messages="updateForm.phone.$error">
                            <div ng-message="required">Phone number is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-svg-src="app/imgs/ic_date_range_24px.svg" ></md-icon>
                        <label>Date of Birth</label>
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               name="dateofbirth" style="width: 30%" ng-click="openDatePicker()"
                               ng-model="updateUser.dateofbirth" is-open="datePicker.opened"
                               datepicker-options="dateOptions"
                               close-text="Close"
                               readonly="readonly" formatMonth="MM"/>
                        <div ng-messages="updateForm.dateofbirth.$error">
                            <div ng-message="required">Date of birth is required.</div>
                        </div>
                    </md-input-container>


                    <md-input-container class="md-block" ng-if="docUser">
                        <md-icon md-svg-src="app/imgs/ic_date_range_24px.svg" ></md-icon>
                        <label>Biography</label>
                        <textarea type="text" class="form-control"
                               name="bio"
                               ng-model="updateUser.bio">
                        </textarea>
                    </md-input-container>


                    <div class="row" style="padding-left: 15px">
                        <button class="btn btn-danger" ng-click="updateToggle = false" ng-show="updateToggle">Cancel
                        </button>
                        <button type="submit" ng-disabled="updateForm.$invalid"
                                class="btn btn-success" ng-click="saveUpdate()"
                                ng-show="updateToggle">Save
                        </button>
                    </div>
                </div>
            </div>

        </form>

        <form class="form-group" name="changePasswordForm">
            <div class="panel panel-default" ng-show="changePasswordToggle">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Change Password</b></h3>
                </div>
                <div class="panel-body">
                    <table class="table ">
                        <tbody>
                        <div ng-init="wrongPass = false" ng-show="wrongPass"
                             class="alert alert-danger text-center" role="alert">
                            <b>{{ alertPass }}</b>
                        </div>
                        <md-input-container class="md-block">
                            <label>Old Password</label>
                            <input ng-minlength="6" ng-maxlength="15" type="password"
                                   required name="oldpassword" ng-model="oldpass">
                            <div ng-messages="changePasswordForm.oldpassword.$error">
                                <div ng-message="required">Old Password is required.</div>
                                <div ng-message="minlength">Password minimum characters is 6.</div>
                                <div ng-message="maxlength">Password minimum characters is 15.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>New Password</label>
                            <input ng-minlength="6" ng-maxlength="15" type="password"
                                   required name="newpassword" ng-model="newpass">
                            <div ng-messages="changePasswordForm.newpassword.$error">
                                <div ng-message="required">New Password is required.</div>
                                <div ng-message="minlength">Password minimum characters is 6.</div>
                                <div ng-message="maxlength">Password minimum characters is 15.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Confirm Password</label>
                            <input ng-disabled="changePasswordForm.newpassword.$invalid" compare-to="newpass"
                                   ng-minlength="6" ng-maxlength="15" type="password"
                                   name="confirmpass" ng-model="confirmpass">
                            <div ng-messages="changePasswordForm.confirmpass.$error">
                                <div ng-message="compareTo">Confirm password not match with New Password.</div>
                            </div>
                        </md-input-container>

                        </tbody>
                    </table>
                    <div class="row" style="padding-left: 15px">
                        <button class="btn btn-danger" ng-click="changePasswordToggle = false"
                                ng-show="changePasswordToggle">Cancel
                        </button>
                        <button type="submit" ng-disabled="changePasswordForm.$invalid"
                                class="btn btn-success" ng-click="updatePassword()"
                                ng-show="changePasswordToggle">Save
                        </button>
                    </div>
                </div>
            </div>

        </form>


        <div class="panel panel-default" ng-hide="updateToggle || changePasswordToggle">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Information</b></h3>
            </div>
            <div class="panel-body">
                <table class="table" ng-init="loadUserDetails()">
                    <tbody>
                    <tr>
                        <td class="col-md-4">
                            <md-icon md-svg-src="app/imgs/ic_person_24px.svg" class="email"></md-icon>
                            Name
                        </td>
                        <td class="col-md-8">
                            {{ userDetails.name }}
                        </td>
                    </tr>

                    <tr>
                        <td class="col-md-4">
                            <md-icon md-svg-src="app/imgs/ic_email_24px.svg" class="email"></md-icon>
                            Email
                        </td>
                        <td class="col-md-8">
                            {{ userDetails.email }}
                        </td>
                    </tr>

                    <tr>
                        <td class="col-md-4">
                            <md-icon md-svg-src="app/imgs/ic_local_phone_24px.svg" class="email"></md-icon>
                            Phone Number
                        </td>
                        <td class="col-md-8">
                            {{ userDetails.phone }}
                        </td>
                    </tr>

                    <tr>
                        <td class="col-md-4">
                            <md-icon md-svg-src="app/imgs/ic_date_range_24px.svg" class="email"></md-icon>
                            Date of Birth
                        </td>
                        <td class="col-md-8">
                            {{ userDetails.dateofbirth | date:"yyyy/MM/dd"}}
                        </td>
                    </tr>

                    <tr ng-if="docUser">
                        <td class="col-md-4">
                            <span style="width: 24px;height: 24px">
                                <i  class="fa fa-graduation-cap"
                                   aria-hidden="true"></i>
                            </span>
                            <span style="margin-left: 6px;">Experience</span>
                        </td>
                        <td class="col-md-8">
                            {{ docUser.doctor.experience }}
                        </td>
                    </tr>

                    <tr ng-if="docUser">
                        <td class="col-md-4">
                            <md-icon md-svg-src="app/imgs/ic_chat_24px.svg" class="email"></md-icon>
                            Biography
                        </td>
                        <td class="col-md-8">
                            {{ docUser.doctor.biography }}
                        </td>
                    </tr>

                    <tr>
                        <td class="col-md-4">
                            <md-icon md-svg-src="app/imgs/ic_date_range_24px.svg" class="email"></md-icon>
                            Created Date
                        </td>
                        <td class="col-md-8">
                            {{ userDetails.created_at | date:"yyyy/MM/dd 'at' h:mma"}}
                        </td>
                    </tr>

                    <tr>
                        <td class="col-md-4">
                            <md-icon md-svg-src="app/imgs/ic_date_range_24px.svg" class="email"></md-icon>
                            Last Updated
                        </td>
                        <td class="col-md-8">
                            {{ userDetails.updated_at | date:"yyyy/MM/dd 'at' h:mma"}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="changeAvatarDialog.html">
    <md-dialog aria-label="Change Avatar Image">
        <form class="form-group" ng-submit="changeAvatar()" name="avatarForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Change Avatar Image</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        X
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="container" style="width:620px;height:200px;">
                    <div class="col-md-5">
                        <b>Preview:</b><br/>
                        <img  width="165px" height="160px" ng-src="{{imageSrc}}"/><br/>
                    </div>
                    <div class="col-md-7 pull-left uploadAvatarContainer">
                        <form>
                            <label for="uploadAvatar" class="uploadButton">
                                <i class="fa fa-cloud-upload"></i> Upload Avatar
                            </label>
                            <input id="uploadAvatar"  type="file" accept="image/*"
                                   ng-file-select="$file" img-read="imageSrc"
                                   img-file="fileinfo" validate-size="validateSize"
                                   wrong-file="wrongFile">
                        </form>
                        <div ng-init="validateSize = true" ng-hide="validateSize"
                             class="alert alert-danger text-center" role="alert">
                            <b>Image file size must be less than 1MB.</b>
                        </div>
                        <div ng-init="wrongFile = true" ng-hide="wrongFile"
                             class="alert alert-danger text-center" role="alert">
                            <b>File must be in Image format.</b>
                        </div>
                        <div ng-show="imageSrc && validateSize">
                            <div><b>Name:</b> {{ fileinfo.name }}</div>
                            <div><b>Size:</b> {{fileinfo.sizeOutput}} </div>
                            <div><b>Type:</b> {{ fileinfo.type }}</div>
                        </div>
                    </div>

                </div>
            </md-dialog-content>


            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised md-warn" ng-click="cancel()" style="margin-right:20px;">
                    CANCEL
                </md-button>
                <md-button ng-disabled="!fileinfo" ng-click="saveImage()"
                           class="md-raised md-primary" style="margin-right:20px;">
                    SAVE
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>

    </form>
    </md-dialog>
</script>



