<h3>Manage Doctor Account</h3>
<div class="container">
    <table class="table" ng-init="doctorDetails()">
        <tbody>
        <tr>
            <td class="col-md-2">
                Name
            </td>
            <td class="col-md-10">
                {{ doctor.name }}
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Email
            </td>
            <td class="col-md-10">
                {{ doctor.email }}
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Phone Number
            </td>
            <td class="col-md-10">
                {{ doctor.phone }}
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Date of Birth
            </td>
            <td class="col-md-10">
                {{ doctor.dateofbirth }}
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Balance
            </td>
            <td class="col-md-10">
                {{ doctor.balance }}
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Name
            </td>
            <td class="col-md-10">
                {{ doctor.name }}
            </td>
        </tr>
        </tbody>
    </table>

</div>