<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Manage Patient Account</h3>
<div class="container">
    <table class="table" ng-init="patientDetails()">
        <tbody>
            <tr>
                <td class="col-md-2">
                    Name
                </td>
                <td class="col-md-10">
                    {{ patient.name }}
                </td>
            </tr>

            <tr>
                <td class="col-md-2">
                    Email
                </td>
                <td class="col-md-10">
                    {{ patient.email }}
                </td>
            </tr>

            <tr>
                <td class="col-md-2">
                    Phone Number
                </td>
                <td class="col-md-10">
                    {{ patient.phone }}
                </td>
            </tr>

            <tr>
                <td class="col-md-2">
                    Date of Birth
                </td>
                <td class="col-md-10">
                    {{ patient.dateofbirth }}
                </td>
            </tr>

            <tr>
                <td class="col-md-2">
                    Balance
                </td>
                <td class="col-md-10">
                    {{ patient.balance }}
                </td>
            </tr>

            <tr>
                <td class="col-md-2">
                    Name
                </td>
                <td class="col-md-10">
                    {{ patient.name }}
                </td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>