<div class="container">

    <table class="table" ng-init="loadRequestDetails()">
        <h3>Review {{ doctor.name }} Request</h3>
        <tbody>
        <tr>
            <td class="col-md-2">
                Name
            </td>
            <td class="col-md-10">
                {{ doctor.name }}
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Name
            </td>
            <td class="col-md-10">
                {{ doctor.username }}
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Email
            </td>
            <td class="col-md-10">
                {{ doctor.email }}
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Phone Number
            </td>
            <td class="col-md-10">
                {{ doctor.phone }}
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Date of Birth
            </td>
            <td class="col-md-10">
                {{ doctor.dateofbirth }}
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Speciality
            </td>
            <td class="col-md-10">
                {{ loadSpeciality(doctor.doctor.professional) }}
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Certification
            </td>
            <td class="col-md-10">
                <button class="btn btn-primary" ng-click="downloadZip()">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Download</button>
            </td>
        </tr>

        <tr>
            <td class="col-md-2">
                Experience
            </td>
            <td class="col-md-10">
                <textarea disabled ng-model="doctor.doctor.experience" readonly rows="5" cols="60" style="max-width: 400px; max-height: 150px;">
                    </textarea>
            </td>
        </tr>


        </tbody>
    </table>
    <div class="col-md-4" ng-hide="doctor.doctor.status == 'Actived' || doctor.doctor.status == 'Rejected'">

        <button class="btn btn-primary center-block btn-lg" ng-click="approveRequest(doctor)">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            Approve
        </button>
    </div>

    <div class="col-md-4" ng-hide="doctor.doctor.status == 'Actived' || doctor.doctor.status == 'Rejected' ">

        <button class="btn btn-warning center-block btn-lg" ng-click="rejectRequest(doctor)">
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            Reject</button>
    </div>

</div>

