<h3>View Request</h3>
<div ng-show="noRequest">
    <div class="alert alert-info text-center">
        <h3><b>You do not have any doctor request</b></h3>
        <button class="btn btn-info btn-lg" ui-sref="home">Back to home
            <span><i class="fa fa-user-md" aria-hidden="true"></i></span></button>
    </div>
</div>

<table ng-hide="noRequest" style="width: 100%" st-table="displayedCollection" st-safe-src="doctors">
    <tr>
        <th><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>

</table>

<table ng-hide="noRequest" class="table hoverTable table-striped"
       st-table="displayedCollection"
       st-safe-src="doctors" wt-responsive-table class="table table-striped"
       ng-init="loadRequest()">
    <thead>
    <tr>
        <th style="width: 10%" class="sortable" st-sort="id">User ID</th>
        <th style="width: 10%" class="sortable" st-sort="doctor.id">Doctor ID</th>
        <th style="width: 20%" class="sortable" st-sort="username">Username</th>
        <th style="width: 20%" class="sortable" st-sort="name">Name</th>
        <th style="width: 20%" class="sortable" st-sort="loadSpeciality(doctor.doctor.speciality)">Speciality</th>
        <th style="width: 20%" class="sortable" st-sort="name">Date</th>

    </tr>
    <tr>
        <th>
            <input st-search="user.id"
                   class="input-sm form-control"/>
        </th>
        <th>
            <input st-search="doctor.id"
                   class="input-sm form-control"/>
        </th>
        <th>
            <input st-search="username"
                   class="input-sm form-control"/>
        </th>
        <th>
            <input st-search="name"
                   class="input-sm form-control"/>
        </th>
        <th>
            <input st-search="loadSpeciality(doctor.doctor.speciality)"
                   class="input-sm form-control"/>
        </th>
    </tr>
    </thead>

    <tbody>
    <p class="text-center ng-hide" ng-show="loading">
        <span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span>
    </p>
    <tr ng-show="req == 0">
        <td colspan="6">
            <h3 class="alert alert-success text-center">
                There is no any doctor request
            </h3>
        </td>
    </tr>
    <tr ng-hide="req == 0" ng-repeat="doctor in displayedCollection"
        ng-hide="loading" ng-click="selectRequest(doctor)">
        <td class="text-center" data-title="User ID">{{ doctor.id }}</td>
        <td class="text-center" data-title="Doctor ID">{{ doctor.doctor.id }}</td>
        <td data-title="Username">{{ doctor.username }}</td>
        <td data-title="Name">{{ doctor.name }}</td>
        <td data-title="Speciality">
            {{ loadSpeciality(doctor.doctor.speciality) }}
        </td>
        <td data-title="Date">{{ doctor.created_at | date:"MM/dd/yyyy 'at' h:mma" }}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="text-center">
        <td colspan="6">
            <div st-items-by-page="10" st-pagination="" st-template="pagination.html"></div>
        </td>
    </tr>
    </tfoot>
</table>






