<table datatable="" class="table" ng-init="loadRequest()">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Doctor ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Faculty</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <p class="text-center ng-hide" ng-show="loading">
        <span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span>
    </p>
    <tr ng-show="req == 0">
        <td colspan="6">
            <h3 class="bg-success text-center">
                There is no any doctor request
            </h3>
        </td>
    </tr>
    <tr ng-hide="req == 0" ng-repeat="doctor in users" ng-click="selectRequest(doctor)">
        <td>{{ doctor.user.id }}</td>
        <td>{{ doctor.id }}</td>
        <td>{{ doctor.user.name }}</td>
        <td>{{ doctor.user.email }}</td>
        <td>{{ doctor.faculty }}</td>
        <td>{{ doctor.status }}</td>
    </tr>
    </tbody>
</table>





