
<h3>Examination Management</h3>
<div ng-show="noExam">
    <div class="alert alert-info text-center">
        <h3><b>You do not have any examination</b></h3>
        <button class="btn btn-primary btn-lg" ui-sref="viewDoctor">Go find a doctor
            <span><i class="fa fa-user-md" aria-hidden="true"></i></span></button>
    </div>
</div>
    <table ng-hide="noExam" style="width: 100%" st-table="displayedCollection" st-safe-src="appointments">
        <tr>
            <th><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>

    </table>
    <table ng-hide="noExam" st-table="displayedCollection"
           st-safe-src="examList" wt-responsive-table class="table table-striped hoverTable"
           ng-init="loadExamination()" >
        <thead>
        <tr>
            <th class="sortable" st-sort="examination.id" style="width: 10%">ID</th>
            <th class="sortable" st-sort="room.examination.date" style="width: 20%">Date</th>
            <th class="sortable" st-sort="room.doctor.user.name" style="width: 20%">Doctor</th>
            <th class="sortable" st-sort="room.name" style="width: 20%">Room</th>
            <th class="sortable" st-sort="room.doctor.speciality.name" style="width: 20%">Speciality</th>
        </tr>
        <tr>
            <th>
                <input st-search="examination.id"
                       class="input-sm form-control searchInput" />
            </th>
            <th>
                <input st-search="room.examination.date"
                       class="input-sm form-control" />
            </th>
            <th>
                <input st-search="room.doctor.user.name"
                       class="input-sm form-control"/>
            </th>
            <th >
                <input st-search="room.name"
                       class="input-sm form-control" />
            </th>
            <th>
                <input st-search="loadSpeciality(exam.room.doctor.professional)"
                       class="input-sm form-control"/>
            </th>


        </tr>
        </thead>
        <tbody>
        <p class="text-center" ng-show="loading"><span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span></p>
        <tr ng-repeat="exam in displayedCollection" ng-hide="loading" ng-click="selectExam(exam)" >
            <td data-title="ID">{{ exam.examination.id }}</td>
            <td data-title="Date">{{ exam.examination.date | date:"MM/dd/yyyy 'at' h:mma" }}</td>
            <td data-title="Doctor">{{ exam.room.doctor.user.name }}</td>
            <td data-title="Room">{{ exam.room.name }}</td>
            <td data-title="Speciality">{{ exam.room.speciality.name }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="text-center">
            <td colspan="5">
                <div st-items-by-page="10" st-pagination="" st-template="pagination.html"></div>
            </td>
        </tr>
        </tfoot>
    </table>


